<% flash.each do |type, message| %>
  <% if type == "notice" %>
    <div class="alert alert-success"><%= message %></div>
  <% elsif type == "alert" %>
    <div class="alert alert-danger"><%= message %></div>
  <% end %>
<% end %>
